Meeting Transcript to Requirements - Workflow.blueprint.json
{
    "name": "Meeting Transcript to Requirements - Workflow",
    "flow": [
        {
            "id": 1,
            "module": "google-docs:getADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6428615
            },
            "mapper": {
                "filter": "image",
                "select": "dropdown",
                "document": "/1wjy_gg6hkb0JKoN1Sg38EfG77n_Jcjs3/10GTBXOJM_FHvpbaogC7A7gqRhpvqVNvnQw9BU-knF4Y",
                "destination": "drive",
                "includeTabsContent": false
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Meeting Transcript"
                },
                "restore": {
                    "expect": {
                        "filter": {
                            "label": "Image"
                        },
                        "select": {
                            "label": "By Dropdown"
                        },
                        "document": {
                            "path": [
                                "AI BA Training",
                                "Onboarding As-Is Meeting Transcript"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (saravmaniam@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Get Content of a Document",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "includeTabsContent",
                        "type": "boolean",
                        "label": "Include Tabs Content",
                        "required": true
                    },
                    {
                        "name": "filter",
                        "type": "select",
                        "label": "Filter",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image",
                                "drawing",
                                "chart"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:createModelResponse",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6411982
            },
            "mapper": {
                "input": "You are an expert **Senior Business Analyst** (BA) specializing in agile methodologies. Your role is to meticulously analyze raw, unedited meeting transcripts to identify, extract, and formalize clear, concise, and actionable **Business Requirements** and **User Stories**.\r\n\r\n---\r\n\r\n### 👤 Role\r\nYour identity is an **Expert Senior Business Analyst**. You must maintain a professional, analytical, and detail-oriented tone. You will act as the filter, translating conversational language, suggestions, decisions, and vague statements into structured requirements.\r\n\r\n### 📥 Inputs\r\nThe input will be a single, raw, and unedited text body, labeled **###START MEETING TRANSCRIPT###** and **###END MEETING TRANSCRIPT###**. This text contains all the conversational data you must analyze.\r\n\r\n### 📤 Output Format\r\nYou must structure your output into two main sections:\r\n1.  **Formal Business Requirements (BR):** High-level statements of what the business needs to achieve.\r\n2.  **Specific User Stories (US):** Detailed, actionable requirements written from the perspective of an end-user.\r\n\r\nYour output **MUST** adhere to the following HTML format exactly: **Please return the output in HTML format so it can be rendered into a styled document. Use `<h3>`, `<p>`, `<ul>`, and `<table>` as appropriate.**\r\n\r\n#### 1. Formal Business Requirements\r\n\r\n**Example of Expected HTML Output:**\r\n```html\r\n<h3>1. Formal Business Requirements</h3>\r\n<table border=\"1\">\r\n    <thead>\r\n        <tr>\r\n            <th>ID</th>\r\n            <th>Business Requirement (BR)</th>\r\n            <th>Source Line(s)</th>\r\n        </tr>\r\n    </thead>\r\n    <tbody>\r\n        <tr>\r\n            <td>BR-001</td>\r\n            <td>The system must allow authenticated users to initiate a return request for any product purchased within the last 30 days.</td>\r\n            <td>4, 15-16, 21</td>\r\n        </tr>\r\n        <tr>\r\n            <td>BR-002</td>\r\n            <td>...</td>\r\n            <td>...</td>\r\n        </tr>\r\n    </tbody>\r\n</table>\r\n---\r\n\r\n<h3>2. Specific User Stories</h3>\r\n<p>Each User Story <strong>MUST</strong> be written using the standard format: <strong>As a [type of user], I want [some goal] so that [some reason/benefit].</strong></p>\r\n<table border=\"1\">\r\n    <thead>\r\n        <tr>\r\n            <th>ID</th>\r\n            <th>User Story (US)</th>\r\n            <th>Acceptance Criteria (AC)</th>\r\n            <th>Source Line(s)</th>\r\n        </tr>\r\n    </thead>\r\n    <tbody>\r\n        <tr>\r\n            <td>US-001</td>\r\n            <td>As a customer, I want to view my past orders from the last 12 months, so that I can easily reorder frequently purchased items.</td>\r\n            <td>GIVEN a logged-in user, WHEN they navigate to the \"Order History\" page, THEN they see a list of all orders placed within the past 12 months.</td>\r\n            <td>25, 30</td>\r\n        </tr>\r\n        <tr>\r\n            <td>US-002</td>\r\n            <td>As a system admin, I want to generate a CSV report of all new user signups from the previous week, so that I can track growth metrics.</td>\r\n            <td>GIVEN the system admin is logged in, WHEN they select the \"Generate Signup Report\" option, THEN a CSV file containing all user signups from the past 7 days is downloaded.</td>\r\n            <td>45-46</td>\r\n        </tr>\r\n    </tbody>\r\n</table>\r\n...\r\n\r\n### ✨ Quality Bar\r\nYour output is considered high quality if it meets **ALL** of the following criteria:\r\n* **Completeness:** Every identifiable requirement or feature request in the transcript is captured in at least one BR or US.\r\n* **Clarity and Conciseness:** Requirements and stories are free of conversational filler and are written in clear, unambiguous language.\r\n* **Actionable:** User Stories include a clearly defined benefit and the Acceptance Criteria are testable and measurable.\r\n* **Traceability:** Every row in both tables (BR and US) includes accurate **Source Line(s)** referencing where the requirement originated in the transcript (e.g., Line 4, or Line 15-16). You must count the lines of the transcript starting from 1.\r\n\r\n### 🔎 Validation\r\nTo validate your work, you must include a short, single-paragraph summary at the end of your output, detailing:\r\n* The total count of **Formal Business Requirements (BR)** extracted.\r\n* The total count of **Specific User Stories (US)** extracted.\r\n* Any conflicting, ambiguous, additional, or out-of-scope requests found in the transcript that were **not** included in the final lists.\r\n\r\n---\r\n\r\n### INSTRUCTION\r\n\r\nAnalyze the following transcript, extract all requirements, and present them in the specified format, ensuring the Quality Bar is fully met.\r\n\r\n###START MEETING TRANSCRIPT###\r\n{{1.body.content}}\n###END MEETING TRANSCRIPT###",
                "model": "gpt-5.2",
                "store": true,
                "format": {},
                "reasoning": {},
                "background": false,
                "truncation": "auto",
                "inputContentType": "text",
                "max_output_tokens": "10000",
                "createConversation": true,
                "parallel_tool_calls": true
            },
            "metadata": {
                "designer": {
                    "x": 302,
                    "y": -5,
                    "name": "Requirements Machine"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "gpt-5.2 (system)The best model for coding and agentic tasks across industries"
                        },
                        "store": {
                            "mode": "chose"
                        },
                        "tools": {
                            "mode": "chose"
                        },
                        "format": {
                            "nested": {
                                "type": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "include": {
                            "mode": "chose"
                        },
                        "metadata": {
                            "mode": "chose"
                        },
                        "reasoning": {
                            "nested": {
                                "effort": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "summary": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "background": {
                            "mode": "chose"
                        },
                        "truncation": {
                            "mode": "chose",
                            "label": "Auto"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "inputContentType": {
                            "mode": "chose",
                            "label": "Text prompt"
                        },
                        "context_management": {
                            "mode": "chose"
                        },
                        "createConversation": {
                            "mode": "chose"
                        },
                        "parallel_tool_calls": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "inputContentType",
                        "type": "select",
                        "label": "Prompt Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "text",
                                "image",
                                "file",
                                "prompt",
                                "items"
                            ]
                        }
                    },
                    {
                        "name": "max_output_tokens",
                        "type": "integer",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "tools",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Type",
                                    "options": [
                                        {
                                            "label": "File search",
                                            "value": "file_search",
                                            "nested": [
                                                {
                                                    "help": "The IDs of the vector stores to search.",
                                                    "name": "vector_store_ids",
                                                    "type": "select",
                                                    "label": "Vector Store IDs",
                                                    "options": "rpc://openai-gpt-3/1/getVectorStores",
                                                    "multiple": true,
                                                    "required": true,
                                                    "validate": {
                                                        "maxItems": 2
                                                    }
                                                },
                                                {
                                                    "help": "A filter to apply based on file attributes.",
                                                    "name": "filters",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Equals",
                                                                    "value": "eq",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Not equal",
                                                                    "value": "ne",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Greater than",
                                                                    "value": "gt",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Greater than or equal",
                                                                    "value": "gte",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Less than",
                                                                    "value": "lt",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Less than or equal",
                                                                    "value": "lte",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Compound filter [and]",
                                                                    "value": "and",
                                                                    "nested": [
                                                                        {
                                                                            "name": "filters",
                                                                            "spec": {
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Equals",
                                                                                                "value": "eq"
                                                                                            },
                                                                                            {
                                                                                                "label": "Not equal",
                                                                                                "value": "ne"
                                                                                            },
                                                                                            {
                                                                                                "label": "Greater than",
                                                                                                "value": "gt"
                                                                                            },
                                                                                            {
                                                                                                "label": "Greater than or equal",
                                                                                                "value": "gte"
                                                                                            },
                                                                                            {
                                                                                                "label": "Less than",
                                                                                                "value": "lt"
                                                                                            },
                                                                                            {
                                                                                                "label": "Less than or equal",
                                                                                                "value": "lte"
                                                                                            }
                                                                                        ],
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The key to compare against the value.",
                                                                                        "name": "key",
                                                                                        "type": "text",
                                                                                        "label": "Key",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The value to compare against the attribute key",
                                                                                        "name": "value",
                                                                                        "type": "any",
                                                                                        "label": "Value",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Filter"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "Filters",
                                                                            "labels": {
                                                                                "add": "Add filter"
                                                                            },
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Compound filter [or]",
                                                                    "value": "or",
                                                                    "nested": [
                                                                        {
                                                                            "name": "filters",
                                                                            "spec": {
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Equals",
                                                                                                "value": "eq"
                                                                                            },
                                                                                            {
                                                                                                "label": "Not equal",
                                                                                                "value": "ne"
                                                                                            },
                                                                                            {
                                                                                                "label": "Greater than",
                                                                                                "value": "gt"
                                                                                            },
                                                                                            {
                                                                                                "label": "Greater than or equal",
                                                                                                "value": "gte"
                                                                                            },
                                                                                            {
                                                                                                "label": "Less than",
                                                                                                "value": "lt"
                                                                                            },
                                                                                            {
                                                                                                "label": "Less than or equal",
                                                                                                "value": "lte"
                                                                                            }
                                                                                        ],
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The key to compare against the value.",
                                                                                        "name": "key",
                                                                                        "type": "text",
                                                                                        "label": "Key",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The value to compare against the attribute key",
                                                                                        "name": "value",
                                                                                        "type": "any",
                                                                                        "label": "Value",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Filter"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "Filters",
                                                                            "labels": {
                                                                                "add": "Add filter"
                                                                            },
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Filters"
                                                },
                                                {
                                                    "name": "max_num_results",
                                                    "type": "integer",
                                                    "label": "Max Results Number",
                                                    "validate": {
                                                        "max": 50,
                                                        "min": 1
                                                    }
                                                },
                                                {
                                                    "help": "Ranking options for search.",
                                                    "name": "ranking_options",
                                                    "spec": [
                                                        {
                                                            "help": "The ranker to use for the file search.",
                                                            "name": "ranker",
                                                            "type": "select",
                                                            "label": "Ranker",
                                                            "options": [
                                                                {
                                                                    "label": "auto",
                                                                    "value": "auto"
                                                                },
                                                                {
                                                                    "label": "default-2024-08-21",
                                                                    "value": "default-2024-08-21"
                                                                },
                                                                {
                                                                    "label": "default-2024-11-15",
                                                                    "value": "default-2024-11-15"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "help": "The score threshold for the file search. Numbers closer to `1` will attempt to return only the most relevant results, but may return fewer results.",
                                                            "name": "score_threshold",
                                                            "type": "number",
                                                            "label": "Score Threshold",
                                                            "validate": {
                                                                "max": 1,
                                                                "min": 0
                                                            }
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Ranking Options"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Function",
                                            "value": "function",
                                            "nested": [
                                                {
                                                    "help": "The name of the function to call.",
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "help": "A JSON schema object describing the parameters of the function.",
                                                    "name": "parameters",
                                                    "type": "json",
                                                    "label": "Parameters",
                                                    "required": true
                                                },
                                                {
                                                    "help": "Whether to enforce strict parameter validation.",
                                                    "name": "strict",
                                                    "type": "boolean",
                                                    "label": "Strict",
                                                    "default": true,
                                                    "required": true
                                                },
                                                {
                                                    "help": "A description of the function.",
                                                    "name": "description",
                                                    "type": "text",
                                                    "label": "Description"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Computer use preview",
                                            "value": "computer_use_preview",
                                            "nested": [
                                                {
                                                    "help": "The height of the computer display.",
                                                    "name": "display_height",
                                                    "type": "number",
                                                    "label": "Display Height",
                                                    "required": true
                                                },
                                                {
                                                    "help": "The width of the computer display.",
                                                    "name": "display_width",
                                                    "type": "number",
                                                    "label": "Display Width",
                                                    "required": true
                                                },
                                                {
                                                    "help": "The type of computer environment to control.",
                                                    "name": "environment",
                                                    "type": "select",
                                                    "label": "Environment",
                                                    "options": [
                                                        {
                                                            "label": "Windows",
                                                            "value": "windows"
                                                        },
                                                        {
                                                            "label": "Mac",
                                                            "value": "mac"
                                                        },
                                                        {
                                                            "label": "Linux",
                                                            "value": "linux"
                                                        },
                                                        {
                                                            "label": "Browser",
                                                            "value": "browser"
                                                        }
                                                    ],
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Web search preview",
                                            "value": "web_search_preview",
                                            "nested": [
                                                {
                                                    "help": "High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                                                    "name": "search_context_size",
                                                    "type": "select",
                                                    "label": "Search Context Size",
                                                    "options": [
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        },
                                                        {
                                                            "label": "Medium",
                                                            "value": "medium"
                                                        },
                                                        {
                                                            "label": "High",
                                                            "value": "high"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "Approximate location parameters for the search.",
                                                    "name": "user_location",
                                                    "spec": [
                                                        {
                                                            "help": "The type of location approximation.",
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Approximate",
                                                                    "value": "approximate"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "help": "The city of the user, e.g. `San Francisco`.",
                                                            "name": "city",
                                                            "type": "text",
                                                            "label": "City"
                                                        },
                                                        {
                                                            "help": "The two-letter ISO country code of the user, e.g. `US`.",
                                                            "name": "country",
                                                            "type": "select",
                                                            "label": "Country",
                                                            "options": "rpc://openai-gpt-3/1/getCountryCodes"
                                                        },
                                                        {
                                                            "help": "The region of the user, e.g. `California`.",
                                                            "name": "region",
                                                            "type": "text",
                                                            "label": "Region"
                                                        },
                                                        {
                                                            "help": "The timezone of the user, e.g. `America/Los_Angeles`.",
                                                            "name": "timezone",
                                                            "type": "timezone",
                                                            "label": "Timezone"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "User Location"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Web search preview (2025_03_11)",
                                            "value": "web_search_preview_2025_03_11",
                                            "nested": [
                                                {
                                                    "help": "High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                                                    "name": "search_context_size",
                                                    "type": "select",
                                                    "label": "Search Context Size",
                                                    "options": [
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        },
                                                        {
                                                            "label": "Medium",
                                                            "value": "medium"
                                                        },
                                                        {
                                                            "label": "High",
                                                            "value": "high"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "Approximate location parameters for the search.",
                                                    "name": "user_location",
                                                    "spec": [
                                                        {
                                                            "help": "The type of location approximation.",
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Approximate",
                                                                    "value": "approximate"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "help": "The city of the user, e.g. `San Francisco`.",
                                                            "name": "city",
                                                            "type": "text",
                                                            "label": "City"
                                                        },
                                                        {
                                                            "help": "The two-letter ISO country code of the user, e.g. `US`.",
                                                            "name": "country",
                                                            "type": "select",
                                                            "label": "Country",
                                                            "options": "rpc://openai-gpt-3/1/getCountryCodes"
                                                        },
                                                        {
                                                            "help": "The region of the user, e.g. `California`.",
                                                            "name": "region",
                                                            "type": "text",
                                                            "label": "Region"
                                                        },
                                                        {
                                                            "help": "The timezone of the user, e.g. `America/Los_Angeles`.",
                                                            "name": "timezone",
                                                            "type": "timezone",
                                                            "label": "Timezone"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "User Location"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "MCP",
                                            "value": "mcp",
                                            "nested": [
                                                {
                                                    "text": "MCP requests will automatically be approved.",
                                                    "type": "banner",
                                                    "theme": "info"
                                                },
                                                {
                                                    "name": "require_approval",
                                                    "type": "hidden",
                                                    "label": "Require Approval",
                                                    "default": "never"
                                                },
                                                {
                                                    "help": "A label for this MCP server, used to identify it in tool calls.",
                                                    "name": "server_label",
                                                    "type": "text",
                                                    "label": "Server Label",
                                                    "required": true
                                                },
                                                {
                                                    "help": "The URL for the MCP server.",
                                                    "name": "server_url",
                                                    "type": "url",
                                                    "label": "Server URL",
                                                    "required": true
                                                },
                                                {
                                                    "help": "List of allowed tool names.",
                                                    "name": "allowed_tools",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Tool"
                                                    },
                                                    "type": "array",
                                                    "label": "Allowed Tools",
                                                    "labels": {
                                                        "add": "Add allowed tool"
                                                    }
                                                },
                                                {
                                                    "help": "Optional HTTP headers to send to the MCP server. Use for authentication or other purposes.",
                                                    "name": "headers",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Header"
                                                    },
                                                    "type": "array",
                                                    "label": "Headers",
                                                    "labels": {
                                                        "add": "Add header"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Code interpreter",
                                            "value": "code_interpreter",
                                            "nested": [
                                                {
                                                    "help": "**Container**\nA container is a fully sandboxed virtual machine where the model runs Python code.\n\n**Expiration Time**\nContainers expire if unused for 20 minutes. The expiration timer is reset after any operation on the container.",
                                                    "name": "container_type",
                                                    "type": "select",
                                                    "label": "Container type",
                                                    "options": [
                                                        {
                                                            "label": "Use existing container",
                                                            "value": "existing_container",
                                                            "nested": [
                                                                {
                                                                    "name": "container",
                                                                    "type": "select",
                                                                    "label": "Container",
                                                                    "options": {
                                                                        "store": "rpc://openai-gpt-3/1/getContainers"
                                                                    },
                                                                    "mappable": {
                                                                        "help": "Map the container ID. For example: `cntr_6878d51b5ffc8191b7c32c11c747cf4e`."
                                                                    },
                                                                    "required": true
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Create new container",
                                                            "value": "new_container",
                                                            "nested": [
                                                                {
                                                                    "name": "container",
                                                                    "spec": [
                                                                        {
                                                                            "help": "An optional list of uploaded files to make available to your code.",
                                                                            "name": "file_ids",
                                                                            "spec": {
                                                                                "type": "select",
                                                                                "label": "File ID",
                                                                                "options": "rpc://openai-gpt-3/1/getFiles"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "File IDs",
                                                                            "labels": {
                                                                                "add": "Add file ID"
                                                                            }
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Container"
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Image generation",
                                            "value": "image_generation",
                                            "nested": [
                                                {
                                                    "help": "Background type for the generated image.",
                                                    "name": "background",
                                                    "type": "select",
                                                    "label": "Background",
                                                    "options": [
                                                        {
                                                            "label": "Auto",
                                                            "value": "auto"
                                                        },
                                                        {
                                                            "label": "Transparent",
                                                            "value": "transparent"
                                                        },
                                                        {
                                                            "label": "Opaque",
                                                            "value": "opaque"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "Controls how much effort the model will exert to match the style and features of input images, especially facial features.",
                                                    "name": "input_fidelity",
                                                    "type": "select",
                                                    "label": "Input Fidelity",
                                                    "options": [
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        },
                                                        {
                                                            "label": "High",
                                                            "value": "high"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "Optional mask for inpainting.",
                                                    "name": "input_image_mask",
                                                    "spec": [
                                                        {
                                                            "name": "mask_input_type",
                                                            "type": "select",
                                                            "label": "Mask Input Type",
                                                            "options": [
                                                                {
                                                                    "label": "File ID",
                                                                    "value": "id",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The ID of the file to be sent to the model.",
                                                                            "name": "file_id",
                                                                            "type": "select",
                                                                            "label": "File ID",
                                                                            "options": "rpc://openai-gpt-3/1/getFiles",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Image URL",
                                                                    "value": "url",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The URL of the image to be sent to the model.",
                                                                            "name": "image_url",
                                                                            "type": "url",
                                                                            "label": "Image URL",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Input Image Mask"
                                                },
                                                {
                                                    "help": "Moderation level for the generated image.",
                                                    "name": "moderation",
                                                    "type": "select",
                                                    "label": "Moderation",
                                                    "options": [
                                                        {
                                                            "label": "Auto",
                                                            "value": "auto"
                                                        },
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "The output format of the generated image.",
                                                    "name": "output_format",
                                                    "type": "select",
                                                    "label": "Output Format",
                                                    "options": [
                                                        {
                                                            "label": "PNG",
                                                            "value": "png"
                                                        },
                                                        {
                                                            "label": "WEBP",
                                                            "value": "webp",
                                                            "nested": [
                                                                {
                                                                    "help": "Compression level for the output image.",
                                                                    "name": "output_compression",
                                                                    "type": "number",
                                                                    "label": "Output Compression",
                                                                    "validate": {
                                                                        "max": 100,
                                                                        "min": 0
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "JPEG",
                                                            "value": "jpeg",
                                                            "nested": [
                                                                {
                                                                    "help": "Compression level for the output image.",
                                                                    "name": "output_compression",
                                                                    "type": "number",
                                                                    "label": "Output Compression",
                                                                    "validate": {
                                                                        "max": 100,
                                                                        "min": 0
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "The quality of the generated image.",
                                                    "name": "quality",
                                                    "type": "select",
                                                    "label": "Quality",
                                                    "options": [
                                                        {
                                                            "label": "Auto",
                                                            "value": "auto"
                                                        },
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        },
                                                        {
                                                            "label": "Medium",
                                                            "value": "medium"
                                                        },
                                                        {
                                                            "label": "High",
                                                            "value": "high"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "The size of the generated image.",
                                                    "name": "size",
                                                    "type": "select",
                                                    "label": "Size",
                                                    "options": [
                                                        {
                                                            "label": "1024x1024",
                                                            "value": "1024x1024"
                                                        },
                                                        {
                                                            "label": "1024x1536",
                                                            "value": "1024x1536"
                                                        },
                                                        {
                                                            "label": "1536x1024",
                                                            "value": "1536x1024"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Custom",
                                            "value": "custom",
                                            "nested": [
                                                {
                                                    "help": "The name of the custom tool, used to identify it in tool calls, for example: `abc`, `abc_defg`.",
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "help": "Description of the custom tool, used to provide more context.",
                                                    "name": "description",
                                                    "type": "text",
                                                    "label": "Description"
                                                },
                                                {
                                                    "name": "format",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Text",
                                                                    "value": "text"
                                                                },
                                                                {
                                                                    "label": "Grammar",
                                                                    "value": "grammar",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The syntax of the grammar definition.",
                                                                            "name": "syntax",
                                                                            "type": "select",
                                                                            "label": "Syntax",
                                                                            "options": [
                                                                                {
                                                                                    "label": "Lark",
                                                                                    "value": "lark"
                                                                                },
                                                                                {
                                                                                    "label": "Regex",
                                                                                    "value": "regex"
                                                                                }
                                                                            ],
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The grammar definition.",
                                                                            "name": "definition",
                                                                            "type": "text",
                                                                            "label": "Definition",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Format"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Tool"
                        },
                        "type": "array",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required",
                                "file_search",
                                "web_search_preview",
                                "computer_use_preview",
                                "code_interpreter",
                                "function",
                                "custom",
                                "allowed_tools"
                            ]
                        }
                    },
                    {
                        "name": "parallel_tool_calls",
                        "type": "boolean",
                        "label": "Parallel Tool Calls"
                    },
                    {
                        "name": "background",
                        "type": "boolean",
                        "label": "Run in Background"
                    },
                    {
                        "name": "context_management",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Context entry type",
                                    "options": [
                                        {
                                            "label": "Compaction",
                                            "value": "compaction",
                                            "nested": [
                                                {
                                                    "help": "The threshold for compacting the context. When the number of tokens in the context exceeds this threshold, the context will be compacted to reduce token usage. See [OpenAI compaction guide](https://developers.openai.com/api/docs/guides/compaction#server-side-compaction).",
                                                    "name": "compact_threshold",
                                                    "type": "integer",
                                                    "label": "Compact threshold",
                                                    "validate": {
                                                        "min": 1000
                                                    }
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Context entry"
                        },
                        "type": "array",
                        "label": "Context management"
                    },
                    {
                        "name": "conversationId",
                        "type": "text",
                        "label": "Conversation ID"
                    },
                    {
                        "name": "createConversation",
                        "type": "boolean",
                        "label": "Create a new conversation",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P"
                    },
                    {
                        "name": "store",
                        "type": "boolean",
                        "label": "Store"
                    },
                    {
                        "name": "previous_response_id",
                        "type": "text",
                        "label": "Previous Response ID"
                    },
                    {
                        "name": "instructions",
                        "type": "text",
                        "label": "Instructions"
                    },
                    {
                        "name": "reasoning",
                        "spec": [
                            {
                                "name": "effort",
                                "type": "select",
                                "label": "Effort",
                                "validate": {
                                    "enum": [
                                        "none",
                                        "minimal",
                                        "low",
                                        "medium",
                                        "high",
                                        "xhigh"
                                    ]
                                }
                            },
                            {
                                "name": "summary",
                                "type": "select",
                                "label": "Summary",
                                "validate": {
                                    "enum": [
                                        "auto",
                                        "concise",
                                        "detailed"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Reasoning"
                    },
                    {
                        "name": "format",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "validate": {
                                    "enum": [
                                        "text",
                                        "json_schema",
                                        "json_object"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Output Format"
                    },
                    {
                        "name": "truncation",
                        "type": "select",
                        "label": "Truncation",
                        "validate": {
                            "enum": [
                                "auto",
                                "disabled"
                            ]
                        }
                    },
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Include",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "file_search_call.results",
                                "code_interpreter_call.outputs",
                                "message.input_image.image_url",
                                "computer_call_output.output.image_url"
                            ]
                        }
                    },
                    {
                        "name": "metadata",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Metadata"
                        },
                        "type": "array",
                        "label": "Metadata"
                    },
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Prompt"
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "conversationId",
                        "type": "text",
                        "label": "Conversation ID"
                    },
                    {
                        "name": "raw_result",
                        "type": "any",
                        "label": "Raw Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "background",
                        "type": "boolean",
                        "label": "Background"
                    },
                    {
                        "name": "billing",
                        "spec": [
                            {
                                "name": "payer",
                                "type": "text",
                                "label": "Payer"
                            }
                        ],
                        "type": "collection",
                        "label": "Billing"
                    },
                    {
                        "name": "error",
                        "type": "text",
                        "label": "Error"
                    },
                    {
                        "name": "max_tool_calls",
                        "type": "number",
                        "label": "Max Tool Calls"
                    },
                    {
                        "name": "top_logprobs",
                        "type": "number",
                        "label": "Top Logprobs"
                    },
                    {
                        "name": "incomplete_details",
                        "spec": [
                            {
                                "name": "reason",
                                "type": "text",
                                "label": "Reason"
                            }
                        ],
                        "type": "collection",
                        "label": "Incomplete Details"
                    },
                    {
                        "name": "instructions",
                        "type": "any",
                        "label": "Instructions"
                    },
                    {
                        "name": "max_output_tokens",
                        "type": "number",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "output",
                        "spec": [
                            {
                                "name": "input",
                                "type": "text",
                                "label": "Input"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "server_label",
                                "type": "text",
                                "label": "Server Label"
                            },
                            {
                                "name": "background",
                                "type": "text",
                                "label": "Background"
                            },
                            {
                                "name": "moderation",
                                "type": "text",
                                "label": "Moderation"
                            },
                            {
                                "name": "n",
                                "type": "number",
                                "label": "N"
                            },
                            {
                                "name": "output_compression",
                                "type": "number",
                                "label": "Output compression"
                            },
                            {
                                "name": "output_format",
                                "type": "text",
                                "label": "Output format"
                            },
                            {
                                "name": "quality",
                                "type": "text",
                                "label": "Quality"
                            },
                            {
                                "name": "size",
                                "type": "text",
                                "label": "Size"
                            },
                            {
                                "name": "revised_prompt",
                                "type": "text",
                                "label": "Revised Prompt"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name",
                                "semantic": "file:name"
                            },
                            {
                                "name": "filedata",
                                "type": "buffer",
                                "label": "File data",
                                "semantic": "file:data"
                            },
                            {
                                "name": "encrypted_content",
                                "type": "text",
                                "label": "Encrypted content"
                            },
                            {
                                "name": "tools",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "annotations",
                                            "type": "text",
                                            "label": "Annotations"
                                        },
                                        {
                                            "name": "description",
                                            "type": "text",
                                            "label": "Description"
                                        },
                                        {
                                            "name": "input_schema",
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "properties",
                                                    "spec": [
                                                        {
                                                            "name": "query",
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "text",
                                                                    "label": "Type"
                                                                },
                                                                {
                                                                    "name": "description",
                                                                    "type": "text",
                                                                    "label": "Description"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Query"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Properties"
                                                },
                                                {
                                                    "name": "required",
                                                    "spec": {
                                                        "type": "text"
                                                    },
                                                    "type": "array",
                                                    "label": "Required"
                                                },
                                                {
                                                    "name": "additionalProperties",
                                                    "type": "boolean",
                                                    "label": "Additional Properties"
                                                },
                                                {
                                                    "name": "$schema",
                                                    "type": "text",
                                                    "label": "Schema"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Schema"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "container",
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Container"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Tools"
                            },
                            {
                                "name": "approval_request_id",
                                "type": "text",
                                "label": "Approval Request ID"
                            },
                            {
                                "name": "error",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "content",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "annotations",
                                                    "type": "text",
                                                    "label": "Annotations"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Content"
                                    }
                                ],
                                "type": "collection",
                                "label": "Error"
                            },
                            {
                                "name": "output",
                                "type": "text",
                                "label": "Output"
                            },
                            {
                                "name": "status",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "queries",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Queries"
                            },
                            {
                                "name": "results",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "attributes",
                                            "type": "collection",
                                            "label": "Attributes"
                                        },
                                        {
                                            "name": "file_id",
                                            "type": "text",
                                            "label": "File ID"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "text",
                                            "label": "File name"
                                        },
                                        {
                                            "name": "score",
                                            "type": "number",
                                            "label": "Score"
                                        },
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Results"
                            },
                            {
                                "name": "role",
                                "type": "text",
                                "label": "Role"
                            },
                            {
                                "name": "call_id",
                                "type": "text",
                                "label": "Call ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "arguments",
                                "type": "text",
                                "label": "Arguments"
                            },
                            {
                                "name": "summary",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Summary"
                            },
                            {
                                "name": "content",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        },
                                        {
                                            "name": "annotations",
                                            "spec": {
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "container_id",
                                                        "type": "text",
                                                        "label": "Container ID"
                                                    },
                                                    {
                                                        "name": "end_index",
                                                        "type": "uinteger",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "uinteger",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "file_id",
                                                        "type": "text",
                                                        "label": "File ID"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "type": "text",
                                                        "label": "File name"
                                                    },
                                                    {
                                                        "name": "index",
                                                        "type": "uinteger",
                                                        "label": "Index"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    },
                                                    {
                                                        "name": "container_id",
                                                        "type": "text",
                                                        "label": "Container ID"
                                                    }
                                                ],
                                                "type": "collection"
                                            },
                                            "type": "array",
                                            "label": "Annotations"
                                        },
                                        {
                                            "name": "logprobs",
                                            "spec": {
                                                "type": "text"
                                            },
                                            "type": "array",
                                            "label": "Logprobs"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Content"
                            },
                            {
                                "name": "code",
                                "type": "text",
                                "label": "Code"
                            },
                            {
                                "name": "container_id",
                                "type": "text",
                                "label": "Container ID"
                            },
                            {
                                "name": "outputs",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "text",
                                            "label": "Filename",
                                            "semantic": "file:name"
                                        },
                                        {
                                            "name": "filedata",
                                            "type": "buffer",
                                            "label": "Data",
                                            "semantic": "file:data"
                                        },
                                        {
                                            "name": "url",
                                            "type": "text",
                                            "label": "Base64 data URL"
                                        },
                                        {
                                            "name": "logs",
                                            "type": "text",
                                            "label": "Logs"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Outputs"
                            }
                        ],
                        "type": "array",
                        "label": "Output"
                    },
                    {
                        "name": "parallel_tool_calls",
                        "type": "boolean",
                        "label": "Parallel Tool Calls"
                    },
                    {
                        "name": "previous_response_id",
                        "type": "text",
                        "label": "Previous Response ID"
                    },
                    {
                        "name": "prompt",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "variables",
                                "type": "array",
                                "label": "Variables"
                            },
                            {
                                "name": "version",
                                "type": "text",
                                "label": "Version"
                            }
                        ],
                        "type": "collection",
                        "label": "Prompt"
                    },
                    {
                        "name": "reasoning",
                        "spec": [
                            {
                                "name": "effort",
                                "type": "text",
                                "label": "Effort"
                            },
                            {
                                "name": "summary",
                                "type": "text",
                                "label": "Summary"
                            }
                        ],
                        "type": "collection",
                        "label": "Reasoning"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "store",
                        "type": "boolean",
                        "label": "Store"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "text",
                        "spec": [
                            {
                                "name": "format",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "schema",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "properties",
                                                "type": "collection",
                                                "label": "Properties"
                                            },
                                            {
                                                "name": "additionalProperties",
                                                "type": "boolean",
                                                "label": "Additional Properties"
                                            },
                                            {
                                                "name": "required",
                                                "type": "array",
                                                "label": "Required"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Schema"
                                    },
                                    {
                                        "name": "strict",
                                        "type": "boolean",
                                        "label": "Strict"
                                    }
                                ],
                                "type": "collection",
                                "label": "Format"
                            },
                            {
                                "name": "verbosity",
                                "type": "text",
                                "label": "Verbosity"
                            }
                        ],
                        "type": "collection",
                        "label": "Text"
                    },
                    {
                        "name": "tool_choice",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "mode",
                                "type": "text",
                                "label": "Mode"
                            },
                            {
                                "name": "tools",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "server_label",
                                        "type": "text",
                                        "label": "Server Label"
                                    }
                                ],
                                "type": "array",
                                "label": "Tools"
                            }
                        ],
                        "type": "collection",
                        "label": "Tool Choice"
                    },
                    {
                        "name": "tools",
                        "spec": {
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "search_context_size",
                                    "type": "text",
                                    "label": "Search Context Size"
                                },
                                {
                                    "name": "user_location",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "city",
                                            "type": "text",
                                            "label": "City"
                                        },
                                        {
                                            "name": "country",
                                            "type": "text",
                                            "label": "Country"
                                        },
                                        {
                                            "name": "region",
                                            "type": "text",
                                            "label": "Region"
                                        },
                                        {
                                            "name": "timezone",
                                            "type": "timezone",
                                            "label": "Timezone"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "User Location"
                                },
                                {
                                    "name": "description",
                                    "type": "text",
                                    "label": "Description"
                                },
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "allowed_tools",
                                    "type": "text",
                                    "label": "Allowed Tools"
                                },
                                {
                                    "name": "headers",
                                    "type": "collection",
                                    "label": "Headers"
                                },
                                {
                                    "name": "require_approval",
                                    "type": "text",
                                    "label": "Require Approval"
                                },
                                {
                                    "name": "server_label",
                                    "type": "text",
                                    "label": "Server Label"
                                },
                                {
                                    "name": "server_url",
                                    "type": "url",
                                    "label": "Server URL"
                                },
                                {
                                    "name": "parameters",
                                    "type": "collection",
                                    "label": "Parameters"
                                },
                                {
                                    "name": "strict",
                                    "type": "boolean",
                                    "label": "Strict"
                                },
                                {
                                    "name": "filters",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Filters"
                                },
                                {
                                    "name": "max_num_results",
                                    "type": "number",
                                    "label": "Max Results Number"
                                },
                                {
                                    "name": "ranking_options",
                                    "spec": [
                                        {
                                            "name": "ranker",
                                            "type": "text",
                                            "label": "Ranker"
                                        },
                                        {
                                            "name": "score_threshold",
                                            "type": "number",
                                            "label": "Score Threshold"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Ranking Options"
                                },
                                {
                                    "name": "vector_store_ids",
                                    "spec": {
                                        "type": "text"
                                    },
                                    "type": "array",
                                    "label": "Vector Store IDs"
                                },
                                {
                                    "name": "container",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "file_ids",
                                            "spec": {
                                                "type": "text"
                                            },
                                            "type": "array",
                                            "label": "File ids"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Container"
                                },
                                {
                                    "name": "format",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "definition",
                                            "type": "text",
                                            "label": "Definition"
                                        },
                                        {
                                            "name": "syntax",
                                            "type": "text",
                                            "label": "Syntax"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Format"
                                },
                                {
                                    "name": "background",
                                    "type": "text",
                                    "label": "Background"
                                },
                                {
                                    "name": "moderation",
                                    "type": "text",
                                    "label": "Moderation"
                                },
                                {
                                    "name": "n",
                                    "type": "number",
                                    "label": "N"
                                },
                                {
                                    "name": "output_compression",
                                    "type": "number",
                                    "label": "Output compression"
                                },
                                {
                                    "name": "output_format",
                                    "type": "text",
                                    "label": "Output format"
                                },
                                {
                                    "name": "quality",
                                    "type": "text",
                                    "label": "Quality"
                                },
                                {
                                    "name": "size",
                                    "type": "text",
                                    "label": "Size"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Tools"
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P"
                    },
                    {
                        "name": "truncation",
                        "type": "text",
                        "label": "Truncation"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "input_tokens",
                                "type": "number",
                                "label": "Input Tokens"
                            },
                            {
                                "name": "input_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "number",
                                        "label": "Cached Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Input Tokens Details"
                            },
                            {
                                "name": "output_tokens",
                                "type": "number",
                                "label": "Output Tokens"
                            },
                            {
                                "name": "output_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "number",
                                        "label": "Reasoning Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Output Tokens Details"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "user",
                        "type": "text",
                        "label": "User"
                    },
                    {
                        "name": "metadata",
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "prompt_cache_key",
                        "type": "text",
                        "label": "Prompt Cache Key"
                    },
                    {
                        "name": "safety_identifier",
                        "type": "text",
                        "label": "Safety Identifier"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-docs:createADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6428615
            },
            "mapper": {
                "name": "Onboarding Requirements and User Stories",
                "footer": false,
                "header": false,
                "content": "{{2.result}}",
                "folderId": "/1wjy_gg6hkb0JKoN1Sg38EfG77n_Jcjs3",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "Requirements and User Stories"
                },
                "restore": {
                    "expect": {
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "AI BA Training"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (saravmaniam@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "header",
                        "type": "boolean",
                        "label": "Insert a Header",
                        "required": true
                    },
                    {
                        "name": "footer",
                        "type": "boolean",
                        "label": "Insert a Footer",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}